.analyzerControlPanel{
    display: flex;
    flex-direction: row;

    height: 200px;
    padding: 0.5em 0em;

    width: 100%;

    .controls{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0em .5em;
        background-color: rgba(0, 0, 0, 0.5);
    }

}

.bands-wrapper{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    .bands{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        height: 100%;




        .band{
            width: inherit;
        }
    }
}

.addDevice{
    text-align: center;
    font-size: 24pt;
    font-weight: 300;
}


.audioDeviceSelect{
    padding: .6em .6em;
    font-size: .6em;
    cursor: pointer;

    * {
        cursor: pointer;
    }

}