.analyzerControlPanel{
    display: flex;
    flex-direction: row;
    .controls{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 250px;

        .band{
            margin: 1em;
            flex-grow: 1;
            min-width: 50px;
        }
    }
    .bands{
        display: flex;
        flex-grow: 1;
    }
}

.bands-wrapper{
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;

    .bands{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        max-height: 200px;
    }
}

.addDevice{
    text-align: center;
    font-size: 24pt;
    font-weight: 300;
}


.audioDeviceSelect{
    padding: .6em .6em;
    font-size: .6em;
    cursor: pointer;

    * {
        cursor: pointer;
    }

}