
.band{
    // display: flex;
    // flex-grow: 1;


    &--horizontal{
     
        height: 50px;
    }

    &--vertical{
        height: 100%;
    }

    .negativeBackground-wrapper{
        height: 100%;
        width: 100%;
        position:relative;

        &--horizontal{
            flex-direction: row-reverse;
        }
        background-color: green;
    }

    .negativeBackground{
        position: relative;
        background-color: #111134;
    }

    .positiveBackground-wrapper{
        height: 100%;
        width: 100%;
        position:relative;

        &--horizontal{
            flex-direction: row-reverse;
        }

        background-color: #111134;
    }
    .positiveBackground{
        position: relative;
        background-color: green;
        height: 100%;
    }


    .band-slider {
        position: relative;
        top: -100%;
        width: 100%;
        height: 100%;
        .band-thumb {
            
            background-color: #AAA;

            &--vertical{
                width: 100%;
                height: 10px;
            }

            &--horizontal{
                height: 100%;
                width: 10px;
            }
            
        }
    }

    //Bottom track
    .band-track.band-track-0 {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.5);
    }
}
