.buttplugDevice{

    .featureList{
        display: flex;
        .feature{
            min-width: 300px;
            margin: 1em;
            padding: 1em;
            border: solid thin #CCC;
        }
    }
}