
.navbar{
    display: flex;
    align-items: center;

    padding: .5em 1em;

    .spacer{
        flex-grow: 1;
    }

    .buttonIcon{
        font-size: 32pt;
        :hover{
            cursor: pointer;
            color: rgb(240, 250, 0);
        }
        
    }
}
